* {
  box-sizing: border-box;
}
:root {
  --main-color: #50B867;
  --box-color: aliceblue;
  --bottom-box-color: #D7C7C7;
  --background-color: aliceblue;
}
body {
  margin: 0;
<<<<<<< HEAD
  background-color: var(--background-color);
=======
  background-color: beige;
>>>>>>> e4767fa8b2eb4415321b862e91d2c56b672affd2
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.top {
  width: 100%;
  height: 20%;
  

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* top 검색창 큰 박스 */
.top > div {
  width: 60%;
  height: 50%;
  background-color: var(--main-color);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
/* top 검색창 왼쪽 박스 */
.top > div > div:nth-child(1) {
  width: 85%;
  height: 90%;
  background-color: var(--box-color);
}
/* top 검색창 오른쪽 박스 */
.top > div > div:nth-child(2) {
  width: 10%;
  height: 90%;
  background-color: var(--box-color);
}
.middle {
  width: 98%;
  height: 10%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.middle > div {
  width: 9%;
  height: 50%;
  background-color: var(--box-color);
}

.bottom {
  width: 100%;
  height: 70%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* bottom 왼쪽 큰 박스 */
.bottom > div:nth-child(1) {
  width: 75%;
  height: 85%;
  background-color: var(--bottom-box-color);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* bottom 왼쪽 박스 안쪽 요소 */
.bottom > div:nth-child(1) > div {
  width: 48%;
  height: 48%;
  background-color: var(--box-color);
}
/* bottom 오른쪽 작은 박스 */
.bottom > div:nth-child(2) {
  width: 20%;
  height: 85%;
  background-color: var(--bottom-box-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* bottom 오른쪽 박스 위 박스 */
.bottom > div:nth-child(2) > div:nth-child(1) {
  width: 95%;
  height: 25%;
  background-color: var(--box-color);
}
/* bottom 오른쪽 박스 아래 박스 */
.bottom > div:nth-child(2) > div:nth-child(2) {
  width: 95%;
  height: 70%;
  background-color: var(--box-color);
}
/* 색깔 박스들 border-radius 작업 */
.top > div,
.top > div > div:nth-child(1),
.top > div > div:nth-child(2),
.middle,
.middle > div,
.bottom > div:nth-child(1),
.bottom > div:nth-child(1) > div,
.bottom > div:nth-child(2),
.bottom > div:nth-child(2),
.bottom > div:nth-child(2) {
  border: none;
  border-radius: 10px;
}